header {
  display: flex;
  justify-content: space-around;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #c3073f;
  position: sticky;
  top: 0px;
  z-index: 100;
  width: 100%;
}

.titel {
  position: relative;
  font-size: 20;
  font-weight: 900;

  left: -300%;

  animation: slideIn 0.5s 0.5s forwards cubic-bezier(0.5, 0.5, 0.5, 1);
}

.titel span {
  font-weight: 100;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 11px;
  }
}

@keyframes slideIn {
  from {
    left: -300%;
  }
  to {
    left: 0%;
  }
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #1a1a1d;
  color: white;
  text-align: center;
}

main {
  font-family: "IBM Plex Serif", serif;
}

a {
  color: white;
}

a:hover {
  color: #6f2232;
}

* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
  text-align: center;
}

.mySlides img{
  width: 100%;
  height: 100%;
  max-height: 800px;
}

.slideshow-container {
  position: relative;
  right: 0;
  left: 0;
}

.text {
  color: white;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: left;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 20%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 400px) {
  .text {
    font-size: 11px;
  }
}

.nyheter {
  display: grid;
  grid-template-columns: 31.5% 31.5% 31.5%;
  grid-gap: 2.5%;
  grid-template-rows: 50% 50%;
  transition: transform 0.2s;
  margin: 20px;

}

.nyheter p{
  margin-inline-start: 10%;
  margin-inline-end: 10%;
}

.nyheter :hover {
  transform: scale(1.01);
}

.nyheter img {
  vertical-align: middle;
  border: #950740;
  border-style: solid;
  border-radius: 20px;
  border-width: 5px;
  width: 100%;
  max-width: 350px;
}

.atleter {
  display: grid;
  position: relative;
  grid-template-columns: 31.5% 31.5% 31.5%;
  grid-template-rows: 30% 30% 30%;
  column-gap: 2.5%;
  row-gap: 5%;
  margin: 20px;
  transition: transform 0.2s;
}

.atleterBild{
  position: relative;
}

.atleterText{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #4e4e50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
}

.atleterBild img{
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: 100%;
  height: 100%;
  max-height: 750px;
}

@media only screen and (max-width: 400px) {
  .atleterBild {
    font-size: 11px;
  }
}

.atleter :hover {
  transform: scale(1.01);
}

.atleter img{
  width: 100%;
  max-width: 350px;
  border: #4e4e50;
  border-style: solid;
  border-radius: 20px;
  border-width: 5px;
}

.atleter p{
  margin-inline-start: 20%;
  margin-inline-end: 20%;
}

.atletNamn {
  font-size: 20px;
}

footer {
  background-color: #c3073f;
  margin-top: 50px;
  padding: 5px;
  color: white;
  text-align: center;
}
